.searcher {
  margin: 0 0 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid #d8d8d8;
  border-radius: 12px;
  box-shadow: #d8d8d888 2px 8px 8px;

  background-color: var(--white);
  width: 340px;
  &_label {
  }
  &_input {
    padding: 0 12px;
    &::placeholder {
      color: #d8d8d8;
      padding: 0 0 0 2px;
    }
  }
  &_btn {
    height: 40px;
    width: 40px;
    border-radius: 12px;
    background-color: #ff5350;
    box-shadow: #ff535088 2px 8px 8px;
    color: var(--white);
    font-size: 18px;
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  .searcher {
    margin: 0;
  }
}
