@import '../../assets/styles/variables.scss';
.header {
  @include container_width;
}

.mainLayout {
  @include container_width;
}

.footer {
  @include container_width;
  @include title_text;
  &_content {
    margin: 0 0 32px 0;
  }
}

@media (min-width: 768px) {
  .header {
    &_heading {
      margin: 12px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
