@import './colors.scss';
@mixin title_text {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--white);
}
@mixin container_width {
  width: 280px;
  margin: 0 auto;
  @media (min-width: 375px) {
    width: 340px;
  }
  @media (min-width: 425px) {
    width: 360px;
  }
  @media (min-width: 768px) {
    width: auto;
    margin: 0 48px;
  }
}
